html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

header {
    margin: auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    align-items: center;
    padding: 30px 50px;
}

header p {
    font-weight: bold; 
    font-size: 28px;
    color: black;
    text-decoration: none;
}

header p a {
    text-decoration: none;
    color: black;
}

header nav ul {
    font-size: 15px;
    display: flex;
    list-style-type: none;
    gap: 70px;
}

header nav ul a {
    text-decoration: none;
    color: black;
}

header nav ul a:hover {
    text-decoration: underline;
}

.info {
    background-color: black;
    margin: auto;
    align-items: center;
}

.container_1 {
    background-color: white;
    color: #222;
    margin: auto;
    align-items: center;
}

.hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 900px;
    margin: auto;
    padding: 24px 0 0 0;
    gap: 80px;
}

.testo_hero {
    display: grid;
    grid-template-columns: 1fr;
}

.info h1 {
    color: white;
    font-size: 60px;
    line-height: 1.1;
}

.info p {
    color: white;
    font-size: 15px;
}

.binomio-fantastico, .fiabe-cinema {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 110px 70px;
    gap: 32px;
}

.binomio-fantastico img, .container_2 img {
    width: 400px;
    height: 100%;
    object-fit: contain;
    margin: auto;
}

.container_1 h2 {
    font-size: 50px;
}

.testo-binomio, .testo-fiabe-cinema {
    max-width: 682px;
    margin: auto;
}

.container_1 div p {
    color: #464646;
    height: auto;
    font-size: 15px;
    line-height: 1.6;
    margin-top: 250px;
}

.container_2 {
    background-color: black;
    color: #D8D8D8;
    width: auto;
    height: auto;
    margin: auto;
    align-items: center;
}

.container_2 h2 {
    font-size: 50px;
    margin-bottom: 90px;
}

.container_2 p {
    max-width: 682px;
    height: auto;
    font-size: 15px;
    line-height: 150%;
}

.poesia {
    font-style: italic;
    margin: 20px 20px;
}

.picture {
    width: 100%;
    height: 700px;
    margin: auto;
    object-fit: cover;
}

.container_3 {
    background-color: white;
    height: auto;
    padding: 40px 200px;
    font-size: 15px;
    line-height: 1.6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;
}

.container_3 p {
    color: #464646;
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    
}

.chiusura {
    background-color: black;
    color: white;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #464646;
    margin: auto;
    height: 80px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

footer p a {
    font-weight: normal;
    font-size: 25px;
    margin: auto;
    color: white;
    text-decoration: none;
}

footer nav ul {
    display: flex;
    list-style-type: none;
}

footer nav ul a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    align-items: center;
    margin: auto;
}

footer nav ul a:hover {
    text-decoration: underline;
}

@media (max-width: 1000px) {
    header nav ul {
        gap: 20px;
    }
    
    .hero {
        grid-template-columns: 1fr;
        gap: 34px;
        align-items: center;
        margin: 0;
        padding-left: 30px;
        padding-right: 30px;
    }

    .testo_hero {
        margin: 20px;
        vertical-align: middle;
    }

    .testo_hero p {
        margin-top: 20px;
    }

    .hero img {
        margin: auto;
        justify-content: center;
    }

    .info h1 {
        font-size: 45px;
    }

    .binomio-fantastico {
        background-color: white;
        color: #222;
        grid-template-columns: 1fr;
        padding: 50px 30px;
    }

    .container_1 div p {
        font-size: 15px;
        line-height: 1.6;
        margin-top: 15px;
    }

    .fiabe-cinema {
        grid-template-columns: 1fr;
        padding: 50px 30px;
    }

    .container_2 h2 {
        margin: 0 0 15px 0;
    }

    .picture {
        height: 700px;
        margin: auto;
    }

    .container_3 {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 40px 100px;
    }
}

@media (max-width: 850px) {
    header {
        height: auto;
        flex-direction: column;
        gap: 10px;
        padding: 30px 50px;
        align-items: baseline;
    }
    
    header p {
        font-weight: bold; 
        font-size: 25px;
    }
    
    header nav ul {
        display: flex;
        list-style-type: none;
        gap: 40px;
    }

    footer {
        height: auto;
        flex-direction: column;
        gap: 10px;
        padding: 30px 50px;
        align-items: baseline;
    }
}

@media (max-width: 700px) {
    header {
        height: auto;
        flex-direction: column;
        gap: 10px;
        padding: 30px 50px;
        align-items: baseline;
    }
    
    header p {
        font-weight: bold; 
        font-size: 25px;
    }
    
    header nav ul {
        display: flex;
        list-style-type: none;
        gap: 40px;
    }
}